<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @building.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @building.slug %>
</p>

<p>
  <strong>Blurb:</strong>
  <%= @building.blurb %>
</p>

<p>
  <strong>Type:</strong>
  <%= @building.building_type %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @building.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @building.longitude %>
</p>
