<%= form_with(model: toilet, url: building_floor_toilets_path, local: true) do |form| %>
  <% if toilet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(toilet.errors.count, "error") %> prohibited this toilet from being saved:</h2>

      <ul>
      <% toilet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <dl>
    <dt><%= form.label :name %></dt>
    <dd>
      <%= form.text_field :name, required: true %>
      <span class="minor">e.g. &ldquo;Across from room 223&rdquo; or &ldquo;Near the stairs&rdquo;</span>
    </dd>
  </dl>

  <dl>
    <dt><%= form.label :gender %></dt>
    <%= form.collection_radio_buttons :gender, User.genders, :second, :first do |gender| %>
      <dd><%= gender.label { gender.radio_button(required: true) + " " + gender.text.capitalize } %></dd>
    <% end %>
  </dl>


  <div class="field">
    <%= form.label :building_id %>
    <%= form.text_field :building_id %>
  </div>

  <div class="field">
    <%= form.label :floor_id %>
    <%= form.text_field :floor_id %>
  </div>

  <div class="field">
    <%= form.label :stalls %>
    <%= form.text_field :stalls %>
  </div>

  <div class="field">
    <%= form.label :urinals %>
    <%= form.text_field :urinals %>
  </div>

  <div class="field">
    <%= form.label :sinks %>
    <%= form.text_field :sinks %>
  </div>

  <div class="field">
    <%= form.label :comments %>
    <%= form.text_field :comments %>
  </div>

  <div class="actions">
    <%= form.submit "Add Restroom" %>
  </div>
<% end %>
