<%= form_with(model: toilet, url: building_floor_toilets_path, local: true) do |form| %>
  <% if toilet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(toilet.errors.count, "error") %> prohibited this restroom from being saved:</h2>

      <ul>
      <% toilet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <dl>
    <dt><%= form.label :name, class: "#{'field_with_errors' if @toilet.errors[:slug].present? }" %></dt>
    <dd>
      <%= form.text_field :name, required: true, class: "#{'field_with_errors' if @toilet.errors[:slug].present? }" %>
      <span class="minor">e.g. &ldquo;Across from room 223&rdquo; or &ldquo;Near the stairs&rdquo;</span>
    </dd>
  </dl>

  <dl>
    <dt><%= form.label :gender %></dt>
    <%= form.collection_radio_buttons :gender, User.genders, :second, :first do |gender| %>
      <dd><%= gender.label { gender.radio_button(required: true) + " " + gender.text.capitalize } %></dd>
    <% end %>
  </dl>

  Number of&hellip; <span class="minor">(optional)</span>
  <dl class="numbers">
    <dt><%= form.label :sinks %></dt>
    <dd><%= form.number_field :sinks, min: 0, step: 1 %></dd>

    <dt><%= form.label :stalls %></dt>
    <dd><%= form.number_field :stalls, min: 0, step: 1 %></dd>

    <dt><%= form.label :urinals %></dt>
    <dd><%= form.number_field :urinals, min: 0, step: 1 %></dd>
  </dl>


  <div class="field">
    <%= form.label :building_id %>
    <%= form.text_field :building_id %>
  </div>

  <div class="field">
    <%= form.label :floor_id %>
    <%= form.text_field :floor_id %>
  </div>

  <div class="field">
    <%= form.label :comments %>
    <%= form.text_field :comments %>
  </div>

  <div class="actions">
    <%= form.submit "Add Restroom" %>
  </div>
<% end %>
