<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @toilet.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @toilet.slug %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @toilet.gender %>
</p>

<p>
  <strong>Building:</strong>
  <%= @toilet.building %>
</p>

<p>
  <strong>Floor:</strong>
  <%= @toilet.floor %>
</p>

<p>
  <strong>Stalls:</strong>
  <%= @toilet.stalls %>
</p>

<p>
  <strong>Urinals:</strong>
  <%= @toilet.urinals %>
</p>

<p>
  <strong>Sinks:</strong>
  <%= @toilet.sinks %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @toilet.comments %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @toilet.creator %>
</p>
