<% provide(:title, @toilet.to_breadcrumb) %>

<h1>
  <%= link_to @toilet.building.name, @toilet.building %>
  &gt;
  <%= link_to @toilet.floor.pretty_name, [@toilet.building, @toilet.floor] %>
  &gt;
  <%= @toilet.name %>
</h1>

<p id="notice"><%= notice %></p>


<section>
  <dl>
    <dt>Gender</dt><dd><%= @toilet.gender_html %></dd>
    <dt>Sinks</dt><dd><%= @toilet.sinks.presence || "?" %></dd>
    <% if @toilet.gender == "male" %>
      <dt>Urinals</dt><dd><%= @toilet.urinals.presence || "?" %></dd>
    <% end %>
    <dt>Stalls</dt><dd><%= @toilet.stalls.presence || "?" %></dd>
    <dt>Reviews</dt><dd>TODO</dd>
  </dl>
</section>

<%= content_tag :p, "Special comments: " + @toilet.comments if @toilet.comments.present? %>