<% provide(:title, @toilet.to_breadcrumb) %>

<h1>
  <%= link_to @toilet.building.name, @toilet.building %>
  &gt;
  <%= link_to @toilet.floor.pretty_name, [@toilet.building, @toilet.floor] %>
  &gt;
  <%= @toilet.name %>
</h1>

<% if @current_users_review.present? %>
  <p>Would you like to <%= link_to 'update your review', edit_building_floor_toilet_review_path(@toilet.building.slug, @toilet.floor.slug, @toilet.slug, @current_users_review) %> or <%= link_to 'delete it', building_floor_toilet_review_path(@toilet.building.slug, @toilet.floor.slug, @toilet.slug, @current_users_review), method: :delete, data: { confirm: 'Are you sure you want to delete your review?' } %>?</p>
<% else %>
  <p>Would you like to <%= link_to "add a review", new_building_floor_toilet_review_path(@toilet.building.slug, @toilet.floor.slug, @toilet.slug) %>?</p>
<% end %>


<section class="left">
  <dl>
    <% [:cleanliness, :location, :wifi, :writing, :traffic, :toilet_paper, :overall].each do |field| %>
      <dt><%= field.to_s.humanize %></dt>
      <dd><%= rating_stars_html_by_field(@reviews, field) %></dd>
    <% end %>
  </dl>
</section>

<section class="right">
  <dl>
    <dt>Gender</dt><dd><%= @toilet.gender_html %></dd>
    <dt>Sinks</dt><dd><%= @toilet.sinks.presence || "?" %></dd>
    <% if @toilet.gender == Toilet.genders[:male] %>
      <dt>Urinals</dt><dd><%= @toilet.urinals.presence || "?" %></dd>
    <% end %>
    <dt>Stalls</dt><dd><%= @toilet.stalls.presence || "?" %></dd>
    <dt>Reviews</dt><dd><%= @reviews.size %></dd>
  </dl>
</section>

<div style="clear:both"></div>

<%= content_tag :p, "Special comments: " + @toilet.comments if @toilet.comments.present? %>

<% @reviews.each do |review| %>
  <blockquote<%= ' class="yourComment"'.html_safe if review.user == @case_id %>>
    <p><%= review.comments %></p>
    <%= content_tag :cite, review.created_at.strftime("%B %d, %Y"),
      title: "Created on #{ review.created_at.to_s } #{ 'and last updated ' + review.updated_at.to_s unless review.updated_at == review.created_at }" %>
  </blockquote>
<% end %>