<%= form_with(model: review, url: url, local: true) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>Your review is anonymous.</p>

  <dl>
    <% [:cleanliness, :location, :wifi, :writing, :traffic, :toilet_paper, :overall].each do |field| %>
      <dt><%= form.label field %></dt>
      <dd class="rating">
        <% unless field == :overall %>
          <label class="abstain">
            <%= form.radio_button field, "" %>
            N/A
          </label>
        <% end %>

        <% (1..5).reverse_each do |rating| %>
          <%= form.radio_button field, rating, class: "star", required: field == :overall %>
          <%= form.label field, rating, value: rating, class: "star" %>
        <% end %>
      </dd>
      </div>
    <% end %>
  </dl>

  <dl>
    <dt><%= form.label :comments %></dt>
    <dd><%= form.text_area :comments, required: true, placeholder: "Required" %></dd>
  </dl>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
