<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
                                           <!--o/-
                                          dyyyhhds:`
                                          ydyyyyyhhds:`
                                         +dhyyyyyyyhhdh/`
                                       `sdhyyyyyyyyyyyhdh-
                                       /dhhyyyhhyyhhyyhhhd+
                                       +dhyyhhhhyyhhhyyyyhd/
                                    .+shhyyyyyyyyyyyhyyyhydh
                                  :yhyssssyyyyyhyyyyyyyyhhdh/-`
                                 odysyyyyyyyhyyyyyyyyyyhyyyyhhdy/`
                                +dyyyyyyyyyyyyyyyyyhhhyyssyyyyhhdy.
                                ydyyhhhhhhhhhyyyhhyyyssyyyyyhhhhhds
                                odhhy+/:::/shyyyysssyyys+/:::+syydh
                              -+sdh+-..-:...:sssyyyyyy+-..::...:yhhs/`
                            :yhyss/.`-dNNN+``-yyyyyyh/.`-dNNm/`.-ssyhdo.
                           odyssss-` yNNNNN.`.ohyyhyy.``hNNNNm``.ossyyhh-
                          :dhyyyyy.` ymmmmm. `ohhhhhy.` hmmmmm` `oyyyyydy
                          sdhyyhhh/` -dmmm+  .yhhhyyy:` -dmmm/  .yyyyyhhd`
                          odhhhhhhh/` `-:.  .syyssssss:` `-:`  -syhyyyhdh`
                        `-oddhhhhyyys:.```-/ssssssssssso:.``.:ohyhhyyhhds-
                      :shhyssssssssssssssssssssssssssyyyyyyhhyhhhhhhhyyyhdho-
                    `sdysssssssssssssss/////////////////////yhhhhhhyyyyyyyhhdo`
                    ydssssssssssssssssys:.````````````````-ohhhhhyyyyyyyyyyhhdo
                   .dhyyyyyyyyyyyyyyyyyyyy+-`          ./shhhhyyyyyyyyhyyyyyyhd`
                   -dhyyyyyyyyyyyyyyhhhhhhhhhs+/////+oyhhhhyyyyyyyhhhhhhhhhhhhd`
                   `hdhhyyyyyhyhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhd+
                    -hdhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhdds-
                     `/yddhhhhhddddhysoooosyyhddddddddddddddddddddddddhys+-`
                        `.-:///:-.`            ``..--:::://////::-->

    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <header id="header">
      <nav>
        <h1>
          <%= link_to root_path do %>
            <img src="/images/logo.svg" />Poo at CWRU
          <% end %>
        </h1>

        <ul>
          <% if @logged_in %>
            <li><%= link_to "log out", controller: "application", action: "logout" %></li>
          <% else %>
            <li><%= link_to "log in with Case ID", CASClient::Frameworks::Rails::Filter.login_url(controller) %></li>
          <% end %>

          <li class="genders">
            <%= link_to "&#9794;".html_safe, set_gender_path(:gender => Toilet.genders[:male]), method: :patch, class: "male#{' selected' if @gender == Toilet.genders[:male]}", title: "View men&rsquo;s restrooms".html_safe %>
            /
            <%= link_to "&#9792;".html_safe, set_gender_path(:gender => Toilet.genders[:female]), method: :patch, class: "female#{' selected' if @gender == Toilet.genders[:female]}", title: "View women&rsquo;s restrooms".html_safe %>
            /
            <%= link_to "all", set_gender_path(:gender => Toilet.genders[:any]), method: :patch, class: "any#{' selected' if @gender == Toilet.genders[:any]}", title: "View all restrooms, regardless of gender" %>
          </li>
        </ul>
      </nav>

    </header>

    <article>
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
    </article>

    <footer>
  <section>
    <div class="left">
      <p>Shine on, forever, Case Western Reserve.</p>
    </div>
    <div class="right">
      <ul>
        <li><a href="mailto:atm62@case.edu">Contact</a></li>
        <li><a href="https://github.com/nerdydrew/Poo-at-CWRU">GitHub</a></li>
      </ul>
    </div>
  </section>
</footer>
  </body>
</html>
