<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
                                           <!--o/-
                                          dyyyhhds:`
                                          ydyyyyyhhds:`
                                         +dhyyyyyyyhhdh/`
                                       `sdhyyyyyyyyyyyhdh-
                                       /dhhyyyhhyyhhyyhhhd+
                                       +dhyyhhhhyyhhhyyyyhd/
                                    .+shhyyyyyyyyyyyhyyyhydh
                                  :yhyssssyyyyyhyyyyyyyyhhdh/-`
                                 odysyyyyyyyhyyyyyyyyyyhyyyyhhdy/`
                                +dyyyyyyyyyyyyyyyyyhhhyyssyyyyhhdy.
                                ydyyhhhhhhhhhyyyhhyyyssyyyyyhhhhhds
                                odhhy+/:::/shyyyysssyyys+/:::+syydh
                              -+sdh+-..-:...:sssyyyyyy+-..::...:yhhs/`
                            :yhyss/.`-dNNN+``-yyyyyyh/.`-dNNm/`.-ssyhdo.
                           odyssss-` yNNNNN.`.ohyyhyy.``hNNNNm``.ossyyhh-
                          :dhyyyyy.` ymmmmm. `ohhhhhy.` hmmmmm` `oyyyyydy
                          sdhyyhhh/` -dmmm+  .yhhhyyy:` -dmmm/  .yyyyyhhd`
                          odhhhhhhh/` `-:.  .syyssssss:` `-:`  -syhyyyhdh`
                        `-oddhhhhyyys:.```-/ssssssssssso:.``.:ohyhhyyhhds-
                      :shhyssssssssssssssssssssssssssyyyyyyhhyhhhhhhhyyyhdho-
                    `sdysssssssssssssss/////////////////////yhhhhhhyyyyyyyhhdo`
                    ydssssssssssssssssys:.````````````````-ohhhhhyyyyyyyyyyhhdo
                   .dhyyyyyyyyyyyyyyyyyyyy+-`          ./shhhhyyyyyyyyhyyyyyyhd`
                   -dhyyyyyyyyyyyyyyhhhhhhhhhs+/////+oyhhhhyyyyyyyhhhhhhhhhhhhd`
                   `hdhhyyyyyhyhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhd+
                    -hdhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhdds-
                     `/yddhhhhhddddhysoooosyyhddddddddddddddddddddddddhys+-`
                        `.-:///:-.`            ``..--:::://////::-->

    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <% if Rails.env.production? %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-15477984-19"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-15477984-19');
      </script>
    <% end %>
  </head>

  <body>
    <header id="header"<%= raw(' class="double"') if @logged_in %>>
      <nav>
        <h1>
          <%= link_to root_path do %>
            <img src="/images/logo.svg" />Poo at CWRU
          <% end %>
        </h1>

        <ul>
          <li><%= link_to 'Find', root_path %></li>
          <% if @logged_in %>
            <li><%= link_to "Log Out", controller: "application", action: "logout" %></li>
            <li class="genders">
              <%= link_to raw("&#9794;"), set_gender_path(:gender => 'male'), method: :patch, class: "male#{' selected' if @user.gender == 'male'}", title: raw("View men&rsquo;s restrooms") %>
              /
              <%= link_to raw("&#9792;"), set_gender_path(:gender => 'female'), method: :patch, class: "female#{' selected' if @user.gender == 'female'}", title: raw("View women&rsquo;s restrooms") %>
              /
              <%= link_to "All", set_gender_path(:gender => 'any'), method: :patch, class: "any#{' selected' if @user.gender == 'any'}", title: "View all restrooms, regardless of gender" %>
            </li>
          <% else %>
            <li><%= link_to 'Log In', CASClient::Frameworks::Rails::Filter.login_url(controller) %></li>
          <% end %>
        </ul>
      </nav>

    </header>

    <article>
      <%= yield %>
    </article>

    <footer>
  <section>
    <div class="left">
      <p>Shine on, forever, Case Western Reserve.</p>
    </div>
    <div class="right">
      <ul>
        <li><a href="mailto:atm62@case.edu">Contact</a></li>
        <li><a href="https://github.com/nerdydrew/Poo-at-CWRU">GitHub</a></li>
      </ul>
    </div>
  </section>
</footer>
  </body>
</html>
